# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Sensitive Data & Credentials
credentials.json
token.json
Planet/
goog/
data/
